<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add item</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Enter item name" required>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>