<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS CRUD</title>

    <link rel="stylesheet" href="./css/style.css">
  
  </head>
  <body>

    <h1>item list</h1>

    <a href="/add" class="btn add-btn">ADD ITEM DATA</a>


    <br>
    <br><br>
    <br>

<ul>






      <%itemList.forEach((s)=>{%>
    
        <li>

          <%=s.name%>
   
          <a href="/edit/<%=s.id%>" class="btn edit-btn">edit</a>
          <a href="/delete/<%=s.id%>" class="btn delete-btn">delete</a>
          <br/>
          <br/>
       
         
        </li>
    
   <%})%>

</ul>

  </body>
</html>